@import "tailwindcss/preflight";

.visible {
  visibility: visible
}

.z-\[2\] {
  z-index: 2
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-20 {
  margin-top: 5rem
}

.block {
  display: block
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.h-1 {
  height: 0.25rem
}

.h-screen {
  height: 100vh
}

.max-h-96 {
  max-height: 24rem
}

.min-h-screen {
  min-height: 100vh
}

.w-3\/4 {
  width: 75%
}

.w-full {
  width: 100%
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-10 {
  gap: 2.5rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-20 {
  gap: 5rem
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.border {
  border-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1))
}

.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity, 1))
}

.bg-slate-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity, 1))
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.pt-10 {
  padding-top: 2.5rem
}

.pt-4 {
  padding-top: 1rem
}

.pt-20 {
  padding-top: 5rem
}

.pb-20 {
  padding-bottom: 5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-semibold {
  font-weight: 600
}

.text-slate-300 {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity, 1))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-slate-400 {
  --tw-shadow-color: #94a3b8;
  --tw-shadow: var(--tw-shadow-colored)
}

.shadow-slate-600 {
  --tw-shadow-color: #475569;
  --tw-shadow: var(--tw-shadow-colored)
}

.active\:opacity-55:active {
  opacity: 0.55
}